.post-page {
    padding: 1px;
    background-color:rgb(255, 255, 255);
}

.post-container {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
}

.post-title {
    padding: 10px;
    color:rgb(127, 61, 153);
    text-transform:uppercase;
    letter-spacing: 4px; 
    font-family:sans-serif;
}