.liked-post {
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100px;
}

.liked-post-desc {
    display: flex;
    flex-direction: column;
}

.liked-photo {
    height: 200px;
    object-fit: cover;
    margin-bottom: 5px;
}